<img src="https://github.com/Make-AI-Indonesia/BasicClasssStudyCase_FIFA2018/raw/master/makeailogo_hitam.png" alt="make-ai_logo" height="200" width="600" align="center">




# Study Case 1: Analyze FIFA World Cup 2018 Russia

In this study case, we are going to analyze dataset of FIFA World Cup 2018 in Russia. This **Excel** dataset consist of 2 tables sheet which is `match_statistics` consist of match data such as `team`, versus `opponent`, `goals scored` and et cetera. The Second one is `countries` which is tables of mapping countries to continents.

The Purpose of this Analysis is to dig some insteresting fact while answering questions and utilize your visualization skills you've already learned to create Report about this World Cup event


___

**Name:**

**Batch/Company name:**
___

## 1. Load the data
Import your analysis tools such as `pandas`

<img src="https://miro.medium.com/max/3640/1*aFvXTLFn4l-qMD4-uN6rrQ.jpeg" width="480" height="360" align="center"/>

Source : [The Verge](https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiM5Oir8bDhAhXClOYKHTUECy8Qjhx6BAgBEAM&url=https%3A%2F%2Fwww.theverge.com%2F2018%2F6%2F14%2F17464582%2Fworld-cup-2018-how-to-watch-live-stream-online-fifa-fox-sports&psig=AOvVaw0xGARhkGnDdCmrX9ISE2iE&ust=1554276490178510)

___

First, Since our **Excel dataset consist of 2 sheet table data** we need to load our dataset **into 2 DataFrame** 

<br>

![](https://github.com/BenedictusAryo/documents_assets/raw/master/New%20CourseMap/exercise_assets/fifadata.png)

<br>

We can assign name to our 2 DataFrame `data_match` and `data_country`. The easiest way to do that is by using `.read_excel()` function by specifying `sheet_name=SHEETNAME` 

```python
data_match = pd.read_excel('data/FIFA World Cup 2018.xlsx',sheet_name='match_statistics')
data_country = pd.read_excel('data/FIFA World Cup 2018.xlsx',sheet_name='countries')
```

Or if you use Google Colab/Azure try this
```python
FIFA_data = 'https://github.com/Make-AI-Indonesia/BasicClasssStudyCase_FIFA2018/raw/master/FIFA%20World%20Cup%202018.xlsx'

data_match = pd.read_excel(FIFA_data, sheet_name='match_statistics')
data_country = pd.read_excel(FIFA_data, sheet_name='countries')
```

## 2. Take a peek of the data
Now, use function `.head()` to show first 5 row data of each dataframe

Since the dataframe display  ``...`` columns, we want to show all columns and posible rows, we can use:
```python
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
```

# Exercise 1
## 3. Take a peek of the data 
Show last 3 rows of **data_country**

# Exercise 2
## 4. Get information regarding data type, and rows of `data_match`.

# Exercise 3
## 5. Get Quick statistical values of `data_match`.

# Exercise 4
## 6. Let's sorting `data_match` based on `Date`.
**Hint:** use `.sort_values`

# Exercise 5
## 7. Try to filter only match in `Group Stage` , on column `Round`

# Exercise 6
## 8. Filter data that `Goal Scored` is more than 3 .

# Exercise 7
## 9. Create new column, called `Passes Completed`, which is `Pass Accuracy %` times `Passes`.

In [ ]:
#pass accuracy 80 %
#passes 200
#passes completed 80% * 200 = 160

In [ ]:
# check our data after adding *Passes Completed*

---

# 10. Joining Data
In the beginning, we have load 2 data, which is match data and Country data. Now, we want to merging the country data into 1 single table. the simple way to do that is using `data.merge()` function

If you look at the help menu of this function, you can see below parameter:
```python
data.merge(
    right,
    how='inner',
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=False,
    suffixes=('_x', '_y'),
    copy=True,
    indicator=False,
    validate=None,
)
```

## Join `data_match.merge( )` using parameter `right=data_country` with left_on column `Team` right_on column `Country` and `how = 'left'`. Save as variable `data_join`

# Exercise 8
## 11. Rename Column `Continent` in `data_join` into `Team Continent`
**Hint:** use function `.rename()`, check help for detail and don't forget to use `inplace=True`

# Exercise 9
## 12. Create DataFrame called `reports` which only showing columns : 
## `['Date', 'Team', 'Team Continent', 'Opponent', 'Goal Scored', 'Attempts', 'On-Target', 'Passes Complete']` from `data_join`

# 13. Groupby Data 
In Excel, you might be familiar with **Pivot Table**. In Pandas, we can do that using `.groupby()` function.

We will group `reports` dataframe by `continent` and group it by **sum**. The syntax is:
```python
reports.groupby('continent').sum()
```

# Exercise 10
## 14. Now try to grouby `Team` by `mean` and sort value of `Passes Complete` descending

___
# Data Visualization
You can import visualization tools such as `matplotlib` or `seaborn`

```python
import matplotlib.pyplot as plt
import seaborn as sns
```

# Exercise 11
## 15. Plot a barchart  with `x` is `Continent` and `y` is sum of `Goal Scored

Visualize your data, for example we want to know Total of Goal Scored for every continent team in our data.

<img src="https://github.com/BenedictusAryo/konten_image/raw/master/Sample%20barplot.png" alt="make-ai_logo" height="400" width="600" align="center">

**Hint:** Create Groupby data `Team Continent` by `sum`

# Exercise 12
## 16. Plot How Many match held in FIFA World Cup 2018

<img src="https://github.com/BenedictusAryo/konten_image/raw/master/fifa_match.png" alt="make-ai_logo" height="600" width="800" align="center">

**Hint:** Use `Horizontal barchart` from dataframe `data_match` of column `Round`

# Exercise 13-15
## Exploring & Analyze your data ! Find 3 Conclussion you found in the dataset

Get minimum 3 conclusion or insight of it.
- 1.
- 2.
- 3.